<div id="container">
    <h2>Mina sparade kurser</h2>

    <!-- meddelande om inga sparade kurser -->
    @if(savedCourses.length === 0) {
    <p>Inga sparade kurser...</p>
    }

    @if(savedCourses.length > 0) {
    <table id="savedCoursesTable">
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>HP</th>
            <th>Ämne</th>
            <th>Kursplan</th>
            <th>Ta bort</th>
        </tr>
        <tr *ngFor="let course of savedCourses">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a [href]="course.syllabus" target="_blank">Kursplan</a></td>
            <td><button (click)="removeCourse(course.courseCode)">Ta bort</button></td>
        </tr>
    </table>
    }
</div>