<div id="homeGrid">
    <div class="hero-section">
        <div class="hero-text">
            <h1>Välkommen till Västuniversitetet</h1>
            <p>Din framtid börjar här. Utforska våra program och kurser och ta första steget mot en spännande och
                givande
                karriär.</p>
            <a routerLink="/allcourses">Utforska kurser</a>
        </div>
    </div>

    <div class="about-section">
        <h2>Om Västuniversitetet</h2>
        <p>
            Västuniversitetet är ett ledande lärosäte som erbjuder högkvalitativ utbildning och forskning inom ett brett
            spektrum av discipliner. Med moderna faciliteter, engagerade lärare och en stödjande miljö, är vi dedikerade
            till att hjälpa våra studenter att nå sina mål och drömmar.
        </p>
    </div>

    <div class="about-img">
        <img src="assets/images/aboutImg.jpg" alt="Bild på student i korridor">
    </div>

    <div class="features-section">
        <div id="features-container">
            <h2>Varför välja Västuniversitetet?</h2>
            <p><strong>Modernt Campus</strong>
                <br>
                Utrustat med toppmoderna faciliteter för att stödja din utbildning och forskning.
                <br><br>
                <strong>Erfarna Lärare</strong>
                <br>
                Våra lärare är ledande experter inom sina respektive områden och är
                dedikerade till din framgång.
                <br><br>
                <strong>Brett Kursutbud</strong>
                <br>
                Vi erbjuder ett brett urval av kurser och program för att möta dina
                akademiska och karriärmässiga mål.
                <br><br>
                <strong>Starkt Alumni Nätverk</strong>
                <br>
                Gå med i ett globalt nätverk av framgångsrika alumner som stöttar
                varandra genom hela karriären.
            </p>
        </div>
    </div>

    <div class="quotes-section">
        <h2>Vad våra studenter säger</h2>
        <div class="quote">
            <img src="assets/images/student1.jpg" alt="bild på student Anna Svennson">
            <p>"Västuniversitetet gav mig verktygen och möjligheterna jag behövde för att lyckas i min karriär. Lärarna
                och
                resurserna här är fantastiska!"</p>
            <cite>- Anna Svensson, Alumna</cite>
        </div>
        <div class="quote">
            <img src="assets/images/student2.jpg" alt="bild på student Jakob Galbani">
            <p>"Att studera vid Västuniversitetet har varit en av de bästa upplevelserna i mitt liv. Jag har fått
                ovärderliga kunskaper och gjort livslånga vänner."</p>
            <cite>- Jakob Galbani, Student</cite>
        </div>
    </div>

    <div class="apply-now">
        <h2>Är du redo att börja din resa?</h2>
        <button (click)="apply()">Ansök nu</button>
    </div>
</div>